ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ftr_list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    padding: 15px;
    max-width: 1170px;
    margin: 0 auto;
}

.ftr_list li {
    width: 100%;
    max-width: 270px;
}

.ftr_rst_box {
    padding: 15px 15px 15px 0;
    background-color: white;
    position: relative;
    border: 1px solid #f5f5f5;
    display: flex;
    justify-content: flex-start;
    transition: all ease-in-out 0.3s;
}

.ftr_rst_box .btn {
    position: absolute;
    top: 5px;
    right: 5px;
    display: none;
}

.ftr_rst_box:hover>.btn {
    display: block;
}

.ftr_rst_box:hover {
    background-color: #f5f5f5;
}

.fr_info strong {
    font-size: 24px;
    margin-bottom: 5px;
    display: block;
}

.fr_info {
    margin: 10px 0;
    width: 100%;
    padding-left: 15px;
    position: relative;
}

.fr_info::before {
    width: 0px;
    height: 100%;
    content: '';
    position: absolute;
    left: 0;
    background-color: #ed1a2d;
    transition: all ease-in-out 0.3s;
}

.ftr_rst_box:hover .fr_info::before {
    width: 5px;
}

.copiedMsg {
    margin-left: 10px;
    background-color: var(--main_green);
    color: #ffffff;
    padding: 4px 12px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    position: absolute;
}

.fadeOut {
    opacity: 0;
    visibility: hidden;
    transition: all ease-in-out 0.5s;
}

.fadeIn {
    opacity: 1;
    visibility: visible;
    transition: all ease-in-out 0.5s;
}

.process_status_bar ul>li span {
    cursor: pointer;
}