.dashCard {
    width: 24%;
    max-width: 260px;
    border: 1px solid #AABBC4;
    min-height: 100px;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 10px;
    transition: all ease 0.3s;
    background-position: 0px 10px;
    padding: 10px;
}

.dashCard:hover,
.dashCard:active,
.dashCard:focus {
    border-color: var(--main_green);
    border-width: 2px;
    box-shadow: 0 10px 20px rgba(89, 167, 45, 0.1);
    background-image: url('./../../assets/images/check_grn.svg');
    background-repeat: no-repeat;
    background-position: 10px 10px;
    cursor: pointer;
    text-decoration: none;
}

.dashCard .card_title {
    /* text-align: center; */
    margin-bottom: 0;
    color: var(--text_color);
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
}

.dashCard:hover .card_title {
    color: var(--main_green);
}

.copyCard {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}

.card_number {
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
}

.card_number>span {
    margin-top: 6px;
    color: #000000;
    font-weight: 600;
    font-size: 16px;
}

.copyCard:hover,
.copyCard:active,
.copyCard:focus {
    background-image: none;
}

@media screen and (max-width: 810px) {
    .dashCard {
        width: 32%;
        min-height: 80px;
    }
    .pageWrap .card_btn_wrap {
        padding: 8px;
    }
    .dashCard .card_title {
        font-size: 16px;
    }
}

@media screen and (max-width: 560px) {
    .dashCard {
        width: 48%;
    }
    .dashCard .card_title {
        font-size: 15px;
    }
}