.process_status_bar {
    padding: 15px 15px 0 15px;
    position: relative;
}

.process_status_bar input {
    height: 36px;
    border-radius: 6px;
    border: 1px solid #AABBC4;
    color: #6c757d;
}

.react-autosuggest__input {
    width: 100%;
    padding: 8px;
}

.process_status_bar input:focus {
    outline: none;
}

.react-autosuggest__suggestions-container {
    position: absolute;
    width: 97%;
    background-color: #ffffff;
    border: 1px solid #AABBC4;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 6px;
    margin-top: 2px;
    max-height: 260px;
    overflow: auto;
}

.process_status_bar.search ul li {
    display: block;
    padding: 6px 6px;
    border-bottom: 1px solid #AABBC4;
    cursor: pointer;
}

.process_status_bar.search ul li:hover {
    background-color: #072c50;
    color: #fff;
}

.process_status_bar.search ul li:last-child {
    border-bottom: none;
}

.process_status_bar.search ul li::after {
    content: none;
}

.title_area.search {
    margin: 24px 16px 16px 6px;
}

.title_area.search .copiedMsg {
    margin-bottom: 16px;
}