.navbar-toggler .icon-bar {
    width: 100%;
    height: 4px;
    background-color: rgb(35 31 32);
    border-radius: 4px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
    transform-origin: 4px 1px;
    width: 30px;
    display: inherit;
}

.navbar-toggler .icon-bar.middle-bar {
    margin: 5px 0;
}

.logo {
    max-width: 220px;
}

header.bg-white:before {
    background-image: linear-gradient(to right, #F04F45, #FBAD40);
    width: 100%;
    height: 5px;
    top: 0;
    left: 0;
    z-index: 2;
    content: '';
    position: absolute;
}

@media only screen and (max-width: 992px) {
    .dropdown.top_rght_head {
        text-align: right;
    }
}

@media only screen and (max-width: 575px) {
    .logo {
        max-width: 180px;
    }
}