.page_wrap.login {
    margin-top: 0;
    padding: 88px 0px 30px 0px;
    height: 100vh;
}

.cp_login_box {
    max-width: 450px;
    position: relative;
    border-radius: 0 0 10px 10px;
}

.cp_login_box::before {
    background-color: var(--pri_color);
    width: 100%;
    height: 5px;
    top: 0;
    left: 0;
    z-index: 2;
    content: '';
    position: absolute;
}

.forget_links a {
    color: #023b68;
}

.forget_links a:hover {
    text-decoration: underline;
}

.cursor_no_drop {
    cursor: no-drop !important;
}