ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.cardsSec {
    padding: 30px 0;
}

.pageWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.title_area {
    padding: 15px 15px 15px 0;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.dash_title {
    position: relative;
    font-size: 24px;
    font-weight: 700;
    color: var(--pri_color);
    padding-left: 15px;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 0;
}

.dash_title::before {
    width: 5px;
    height: 100%;
    left: 0;
    top: 0;
    content: '';
    position: absolute;
    background: rgb(240, 79, 69);
    background: linear-gradient(180deg, rgba(240, 79, 69, 1) 0%, rgba(251, 173, 64, 1) 100%);
}

.process_status_bar ul {
    margin: 15px 0 10px 0;
}

.process_status_bar ul li {
    display: inline-block;
    position: relative;
    font-weight: 500;
    padding-right: 20px;
}

.process_status_bar ul li::after {
    content: "";
    background-image: url('../../assets/images/arrow-forward.svg');
    background-repeat: no-repeat;
    position: absolute;
    width: 9px;
    height: 15px;
    right: 0;
    top: 8px;
}

.process_status_bar ul li:last-child::after {
    content: none;
}

.process_status_bar ul li span {
    position: relative;
    margin-left: 10px;
    padding-left: 20px;
    color: var(--main_green);
    font-size: 16px;
    font-weight: 700;
}

.process_status_bar ul li span::before {
    content: '';
    background-image: url('../../assets/images/check_grn.svg');
    background-repeat: no-repeat;
    position: absolute;
    width: 15px;
    height: 15px;
    top: 5px;
    left: 0;
}

.card_btn_wrap {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 15px;
    width: 100%;
}

@media screen and (max-height: 812px) {
    footer.fixed-bottom {
        position: relative;
    }
}