@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Rubik:wght@400;700&display=swap');
:root {
    --pri_color: #072C50;
    --main_green: #59A72D;
    --border-color: #EFF4F8;
    --text_color: #6C757D;
}

body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-image: url('./assets/images/ciw_bg.png');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

form label {
    font-weight: 600;
}

.page_wrap {
    margin-top: 87px;
    padding: 30px 0;
}

.primary_title {
    position: relative;
    color: #222222;
    padding-bottom: 10px;
    margin-bottom: 24px;
    font-size: 30px;
}

.primary_title:before {
    content: '';
    width: 110px;
    height: 2px;
    background: rgb(240, 79, 69);
    background: linear-gradient(90deg, rgba(240, 79, 69, 1) 0%, rgba(251, 173, 64, 1) 100%);
    position: absolute;
    left: 0;
    bottom: 0;
}

.cp_login_box .primary_title:before,
.primary_title.center:before {
    left: 50%;
    transform: translateX( -50%);
}

.page_wrap .btn-primary {
    font-size: 14px;
    cursor: pointer;
    background-color: #023c69;
    border: none;
    transition: all ease-in-out 0.3s;
}

.page_wrap .btn-primary:hover {
    background-color: #427fc0;
    border: none;
}

.logo {
    display: flex;
    height: 100%;
    align-items: center;
}


/*--btns-styling--*/

.btn.btn-primary {
    background-image: linear-gradient(to right, #FBAD40, #F04F45, #F04F45, #FBAD40);
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-size: 300% 100%;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(240, 79, 69, 0.3);
    font-weight: 500;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.fullPageWrap {
    min-height: calc(100vh - 211px);
}

.breadcrumb {
    background-color: var(--pri_color) !important;
    border-radius: 0 !important;
}

.react-confirm-alert-body {
    text-align: center;
}

.react-confirm-alert-button-group {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1200px) {
    body .container {
        max-width: inherit !important;
    }
}